#photos {
  display: grid;
  grid-template-columns: 0% 30vw auto 0%;
  grid-template-rows: 30vw 30vw 30vw 30vw;
  grid-row-gap: 30px;
  padding-bottom: 1vw;
  margin-left: 10.5%;
  margin-right: 10%;
}

.about_us_text {
  padding-left: 1vw;
  padding-right: 1vw;
  color: rgb(56, 86, 35);
  font-family: 'Glacial Indifference';
}

.julia_photo {
  grid-column: 2;
  grid-row: 1;
  /* border: 10px solid rgb(150, 186, 143); */
}

.julia_text {
  grid-column: 3;
  grid-row: 1;
  margin-top: 2%;
}

.isabel_photo {
  grid-column: 2;
  grid-row: 2;
  /* border: 10px solid rgb(150, 186, 143); */
}

.isabel_text {
  grid-column: 3;
  grid-row: 2;
  margin-top: 4%;
}

.hannah_photo {
  grid-column: 2;
  grid-row: 3;
  /* border: 10px solid rgb(150, 186, 143); */
}

.hannah_text {
  grid-column: 3;
  grid-row: 3;
  margin-top: 2%;
}

.dom_photo {
  grid-column: 2;
  grid-row: 4;
  /* border: 5px solid white;
  outline: 5px solid rgb(150, 186, 143); */
}

.dom_text {
  grid-column: 3;
  grid-row: 4;
  /* margin-top: 1%; */
}

.individualPhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid white;
  outline: 3px solid rgb(150, 186, 143);
  /* border-color: rgb(150, 186, 143);
  border-width: medium; */
}

.about_me_name {
  margin-left: 2vw;
  margin-top: 1vw;
  /* margin-bottom: 2vw; */
  font-size: 2.2vw;
  color: rgb(56, 86, 35);
  font-family: "Spectral"
}

.about_me_title {
  margin-left: 2vw;
  margin-top: .5vw;
  margin-bottom: 2vw;
  font-size: 2vw;
  color: rgb(56, 86, 35);
}

.about_me_text {
  text-align: center;
  margin-left: 2vw;
  margin-top: 2vw;
  font-size: 1.3vw;
  font-family: "Spectral", "sans-serif";
}

.horizontal_dotted_line {
  font-size: 4vw;
  width: 96%;
  text-align: center;
  border-bottom: 2px solid rgb(150, 186, 143);
  line-height: 0.1em;
  margin: 50px 2% 50px 2%;
}

.dot {
  background: #fff;
  padding: 0 10px;
  padding-left: 1vw;
  padding-right: 1vw;
  color: rgb(56, 86, 35);
  font-family: 'Spectral';
  text-align: center;
}

.intro {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Spectral", "sans-serif";
  font-size: 1.2em;
}

.bio {
  margin-left: 10px;
}

.julia_photo:hover .individualPhoto {
  opacity: 0.7;
}

.isabel_photo:hover .individualPhoto {
  opacity: 0.7;
}