#photos{
  display: grid;
  grid-template-columns: 0% 30vw auto 0%;
	grid-template-rows: 30vw 30vw 30vw 30vw;
  grid-row-gap: 30px;
  padding-bottom: 1vw;
  margin-left: 10.5%;
  margin-right: 10%;
}

.julia_photo{
  grid-column: 2;
	grid-row: 1;
  /* border: 10px solid rgb(150, 186, 143); */
}

.julia_text{
  grid-column: 3;
	grid-row: 1;
  height:100%;
  width: 100%;
}

.isabel_photo{
  grid-column: 2;
	grid-row: 2;
  /* border: 10px solid rgb(150, 186, 143); */
}

.isabel_text{
  grid-column: 3;
	grid-row: 2;
}

.hannah_photo{
  grid-column: 2;
	grid-row: 3;
  /* border: 10px solid rgb(150, 186, 143); */
}

.hannah_text{
  grid-column: 3;
	grid-row: 3;
}

.dom_photo{
  grid-column: 2;
	grid-row: 4;
  /* border: 5px solid white;
  outline: 5px solid rgb(150, 186, 143); */
}

.dom_text{
  grid-column: 3;
	grid-row: 4;
}

.individualPhoto{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid white;
  outline: 3px solid rgb(150, 186, 143);
  /* border-color: rgb(150, 186, 143);
  border-width: medium; */
}

.about_me_name{
  margin-left: 2vw;
  margin-top: 1vw;
  /* margin-bottom: 2vw; */
  font-size: 2.3vw;
  color: rgb(56, 86, 35);
}

.about_me_title {
  margin-left: 2vw;
  margin-top: .5vw;
  margin-bottom: 2vw;
  font-size: 2vw;
  color: rgb(56, 86, 35);
}

.about_me_text{
 text-align: center;
 margin-left: 2vw;
 margin-top: 2vw;
 font-size: 1.5vw;
}

.horizontal_dotted_line{
  width: 100%;
  display : flex;
  font-size: 4vw;
  color: rgb(150, 186, 143);
  margin-top: 30px;
  margin-bottom: 30px;

}

.dot {
  flex: 1;
  border-bottom: 5px dotted rgb(150, 186, 143);
  height: 0.65em;
}

.horizontal_dotted_line_write{
  width: 100%;
  display : flex;
  font-size: 4vw;
  color: rgb(56, 86, 35);
  margin-top: 30px;
  margin-bottom: 30px;

}

.dot_write {
  flex: 1;
  border-bottom: 5px dotted rgb(150, 186, 143);
  height: 0.65em;
}

.intro{
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  text-justify: inter-word;
}

.bio {
  margin-left: 10px;
}

.julia_photo:hover .individualPhoto{
  opacity: 0.7;
}

.isabel_photo:hover .individualPhoto{
  opacity: 0.7;
}
