html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* max-height: 100vh */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
}

#main {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}

.content_wrap {
  padding-top: 3vh;
  padding-bottom: 10vh;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
  color: rgb(5, 41, 14);
}

.footer {
  background-color: rgb(11, 64, 20);
  height: 5vh;
  line-height: 55px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  position: relative;
  bottom: 0;
}

#bottomBar {
  display: grid;
  background-color: rgb(5, 41, 14);
  grid-template-columns: 22vw 22vw 22vw 8vw auto;
  grid-template-rows: 7vh;
  height: 7vh;
  font-size: 1.3vw;
  width: 100%;
  bottom: 0;
  position: absolute;
  font-family: "Spectral";
}

.footer_text {
  text-decoration: none;
  color: white;
  padding-left: .5vw;
  padding-right: .5vw;
  position: absolute;
}

#explore {
  text-decoration: none;
  color: white;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  padding-top: 1.6vh;
  font-size: 2.3vh;
  cursor: pointer;
}

#connect {
  text-decoration: none;
  color: white;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  padding-top: 1.6vh;
  font-size: 2.3vh;
}

#legal {
  text-decoration: none;
  text-align: center;
  color: white;
  grid-column: 3;
  grid-row: 1;
  padding-top: 1.6vh;
  font-size: 2.3vh;
}

#empty2 {
  /* text-decoration: none;
  text-align: center;
  color: white; */
  grid-column: 4;
}

#follow_us {
  text-decoration: none;
  display: block;
  text-align: center;
  color: white;
  grid-column: 5;
  grid-row: 1;
  font-size: 2.3vh;
  /* margin-bottom: 50px; */
}

#ugh {
  font-size: 2.3vh;
  padding-top: 1.6vh;
  float: left;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

#menu:after {
  content: "";
  clear: both;
  display: block;
}

#menu {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  /* height: 12vw; */
  color: black;
  /* padding-bottom: 1vw; */
  align: center;
  height: 70px;
  width: 100%;
}

#menu ul {
  /* list-style: none; */
  /* position: absolute; */
  margin: 0;
  padding: 0;
}

#menu ul a {
  display: block;
  font-size: 12px;
  text-decoration: none;
}

#menu ul li {
  margin: 0;
  padding: 0;
  display: block;
}

#menu .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* z-index: 1; */
}

#menu .dropdown li {
  width: 200px;
  display: block;
  background-color: white;
  /* border-bottom: 1px solid black; */
}

/* drop down text */
#menu .dropdown>li>a {
  padding: 5px;
  color: black;
  font-family: FFMarkStdBook;
  padding-left: 1vw;
}

#menu .dropdown .dropdown {
  top: 0;
  left: 100%;
  height: 100%;
}

#menu ul li:hover>.dropdown {
  color: rgb(194, 134, 151);
  display: block;
}

#menu ul li:hover {
  color: rgb(194, 134, 151);
  /* background-color: purple; */
}

#menu>ul>li {
  float: left;
  margin-right: 47px;
  position: relative;
}

#menu>ul>li:last-child {
  margin-right: 0px;
}

/* nav bar */
#menu>ul>li>a {
  color: rgb(5, 41, 14);
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 15px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}

#menu ul li:hover a {
  color: rgb(194, 134, 151);
}

.logo {
  height: 12vh;
  float: left;
}

.quote {
  font-weight: bold;
  color: rgb(56, 86, 35);
  font-size: 1.2em;
  font-family: 'Spectral';
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  text-align: center;
}

#on_top {
  position: relative;
  z-index: 3;
}

#empty {
  visibility: hidden;
}

#main_article {
  height: 100%;
  width: 100%;
}

.main_article_text {
  position: absolute;
  display: block;
  width: 80%;
  margin-top: -14%;
  max-width: 90%;
  font-size: 3vw;
  color: #FFF;
  padding: .6em 1em .6em 1.7em;
  font-family: "Sans Serif";
}

.main_article_text2 {
  display: block;
  margin-top: -15%;
  font-size: 2vw;
  color: #FFF;
  padding: .6em .5em .6em 2.6em;
  float: left;
  flex: 30%;
  z-index: 1;
  font-family: "Glacial Indifference";
  text-decoration: none;
}

.main_article_text3 {
  position: absolute;
  display: block;
  width: 80%;
  margin-top: -15.5%;
  max-width: 90%;
  font-size: 1.7vw;
  color: #FFF;
  padding: .6em .5em .6em 3.1em;
  font-family: "Glacial Indifference";
}

.main_article_overall {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.main_article_overall:hover .hover_image {
  opacity: 0.7;
}

.social_media_icon {
  height: 5vh;
  float: left;
  padding-left: 1vw;
  padding-top: 10px;
  /* padding-left: 5%;
  padding-right: 5%; */
  /* padding-top: 10px; */
}

.sub_article {
  height: 100%;
  width: 100%;
  padding-left: 1vw;
}

.sub_article:hover {
  opacity: 0.7;
}

.sub_article_text {
  font-size: 1.8vw;
  text-align: center;
  color: rgb(5, 41, 14);
  font-family: "Glacial Indifference";
}

.sub_article_text2 {
  padding-top: 1vh;
  font-size: 1.4vw;
  text-align: center;
  color: rgb(5, 41, 14);
  font-family: "Glacial Indifference";
}

.sub_article_img {
  width: 100%;
  height: 20vw;
}

.horizontal_dotted_line {
  font-size: 4vw;
  width: 96%;
  text-align: center;
  border-bottom: 2px solid rgb(56, 86, 35);
  line-height: 0.1em;
  margin: 10px 2% 20px 2%;
}

.dot {
  background: #fff;
  padding: 0 10px;
  padding-left: 1vw;
  padding-right: 1vw;
  color: rgb(56, 86, 35);
  font-family: 'Spectral';
  text-align: center;
}

.mission_text {
  font-size: 1.5vw;
  text-align: center;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 25px;
  font-family: 'Spectral';
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container>div {
  padding-right: 1vw;
  font-size: 30px;
  width: 100%;
  height: 100%;
}

/* circle around magnifying glass */
.form_class {
  position: relative;
  top: 8%;
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  margin-left: 5px;
}

/* expanded search - input box */
.input_class {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 5px 20px;
}

/* magnifying glass before hover */
.fa {
  box-sizing: border-box;
  padding: 11px;
  width: 40.5px;
  height: 40.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: rgb(5, 41, 14);
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  border-radius: 50%;
}

/* border on hover */
.form_class:hover {
  width: 150px;
  cursor: pointer;
  border-color: rgb(5, 41, 14);
  border-width: medium;
}

.form_class:hover input {
  display: block;
}

/* circle on hover */
.form_class:hover .fa {
  height: 40px;
  width: 40px;
  margin-top: 2px;
  margin-right: 2px;
  background: rgb(5, 41, 14);
  color: white;
}

#remove_background:hover {
  background-color: white;
}

@media (max-width: 1000px) {
  #bottomBar {
    display: grid;
    background-color: rgb(5, 41, 14);
    grid-template-columns: 21vw 21vw 21vw 5vw auto;
    grid-template-rows: 7vh;
    height: 7vh;
    font-size: 1.3vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* bottom: 0px; */
  }

  .social_media_icon {
    height: 5vh;
    float: left;
    padding-left: 1vw;
    padding-top: 2.5%;
    /* padding-left: 5%;
    padding-right: 5%; */
    /* padding-top: 10px; */
  }
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: white;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
}

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
  display: none;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: green;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  overflow: hidden;
  padding-top: 10px;
}

.container .logo {
  max-width: 270px;
  padding: 0 10px;
  overflow: hidden;
}

.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.container .logo a img {
  max-width: 100%;
  max-height: 70px;
  padding-left: 10px;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 2;
  flex-direction: row-reverse;
  padding-right: 3vw;
}

#nav-lists {
  padding-top: 12px;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* font when not hamburger */
.container .navbar ul li a {
  text-decoration: none;
  color: rgb(5, 41, 14);
  font-size: .9em;
  text-transform: uppercase;
  display: block;
  height: 50px;
  line-height: 60px;
  cursor: pointer;
  margin: 0 1vw;
  font-family: "Spectral";
  /* padding-bottom: 5px;
  border-bottom: transparent solid 1px; */
}

.container .navbar ul li a:hover {
  color: rgb(150, 186, 143);
  border-bottom: 2px solid rgb(150, 186, 143);
}

.container .navbar ul li a.active-page {
  color: rgb(150, 186, 143);
  border-bottom: 2px solid rgb(150, 186, 143);
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 12px;
}

.container .navbar .icon-bar i {
  background-color: rgb(5, 41, 14);
  height: 2px;
}

#main_article_phone {
  display: none;
}

@media (max-width: 1080px) {
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin-top: 0;
  }

  .container .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .container .navbar ul li a:hover {
    color: rgb(150, 186, 143);
    border-bottom: 0;
    /* width: 30% */
  }

  .container .navbar ul li a.active-page {
    color: rgb(150, 186, 143);
    border-bottom: 0;
  }

  .container .navbar ul .close {
    display: block;
  }

  .container .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container .navbar ._Menus-show {
    left: 0;
  }
}

@media (max-width: 800px) {
  #bottomBar {
    display: grid;
    background-color: rgb(5, 41, 14);
    grid-template-columns: 20vw 20vw 20vw 4vw auto;
    grid-template-rows: 7vh;
    height: 7vh;
    font-size: 1.3vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* bottom: 0px; */
  }

  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
    display: block;
  }
}

@media (max-width: 700px) {
  #bottomBar {
    display: grid;
    background-color: rgb(5, 41, 14);
    grid-template-columns: 20vw 20vw 20vw 0vw auto;
    grid-template-rows: 7vh;
    height: 7vh;
    font-size: 1.3vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* bottom: 0px; */
  }
}

@media (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .mission_text {
    font-size: 3vw;
  }

  .flex-container>div {
    font-size: 30px;
    width: 100%%;
    height: 100%;
    margin-bottom: 2vw;
  }

  .sub_article_text {
    font-size: 2.8vw;
    text-align: center;
    color: rgb(5, 41, 14);
    font-family: "Glacial Indifference";
  }

  .sub_article_text2 {
    padding-top: 1vh;
    font-size: 2.3vw;
    text-align: center;
    color: rgb(5, 41, 14);
    font-family: "Glacial Indifference";
  }

  .sub_article_img {
    width: 100%;
    height: 60vw;
  }

  #bottomBar {
    display: grid;
    background-color: rgb(5, 41, 14);
    grid-template-columns: 18vw 18vw 18vw 0vw auto;
    grid-template-rows: 7vh;
    height: 7vh;
    font-size: .5vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-left: 3vw;
    /* bottom: 0px; */
  }

  #explore {
    font-size: 2vh;
  }

  #connect {
    font-size: 2vh;
  }

  #legal {
    font-size: 2vh;
  }

  #follow_us {
    font-size: 2vh;
  }

  #ugh {
    font-size: 2vh;
  }

  #main_article_phone {
    display: block;
  }

  .main_article_overall {
    display: none;
  }
}

@media (max-width: 550px) {
  #bottomBar {
    display: grid;
    background-color: rgb(5, 41, 14);
    grid-template-columns: 18vw 18vw 18vw 0vw auto;
    grid-template-rows: 7vh;
    height: 7vh;
    font-size: .5vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-left: 1vw;
    /* bottom: 0px; */
  }
}

@media (max-width: 550px) {
  #bottomBar {
    display: grid;
    background-color: rgb(5, 41, 14);
    grid-template-columns: 18vw 18vw 18vw 0vw auto;
    grid-template-rows: 7vh;
    height: 7vh;
    font-size: .5vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-left: 10vw;
    /* bottom: 0px; */
  }

  #ugh {
    display: none;
  }

  .social_media_icon {
    padding-top: 5%;
  }
}

@media (max-width: 450px) {
  #bottomBar {
    display: grid;
    background-color: rgb(5, 41, 14);
    grid-template-columns: 20vw 20vw 18vw 0vw auto;
    grid-template-rows: 7vh;
    height: 7vh;
    font-size: .5vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-left: 5vw;
    /* bottom: 0px; */
  }

  #ugh {
    display: none;
  }
}

@media (max-width: 400px) {
  #bottomBar {
    display: grid;
    background-color: rgb(5, 41, 14);
    grid-template-columns: 0vw 25vw 25vw 0vw auto;
    grid-template-rows: 7vh;
    height: 7vh;
    font-size: .5vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-left: 7vw;
    /* bottom: 0px; */
  }

  #explore {
    display: none;
  }
}

@media (max-width: 350px) {
  #bottomBar {
    display: grid;
    background-color: rgb(5, 41, 14);
    grid-template-columns: 0vw 25vw 25vw 0vw auto;
    grid-template-rows: 7vh;
    height: 7vh;
    font-size: .5vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-left: 5vw;
  }

  .social_media_icon {
    padding-top: 5%;
  }
}