.share-btn {
  display: inline-block;
  color: black;
  border: none;
  padding: 0.1em 0.6em;
  outline: none;
  text-align: center;
  font-size: 0.9em;
  margin: 0 0.2em;
  text-decoration: none;

}

.share-btn:focus,
.share-btn:hover {
  text-decoration: none;
  opacity: 0.8;
}

.share-btn:active {
  color: #e2e2e2;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 14vw;
  height: 4vw; */
  border: 1px solid grey;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 60%;
}

.flex-container > div {
  width: 30%;
  height: 6vh;
  margin-right: 10px;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(5, 41, 14);
}

#last_div{
  margin-right: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(5, 41, 14);
    margin: 1em 0;
    padding: 0;
}


.main_article_content{
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2vh;
  font-size: 1.1em;
  font-family: "Times New Roman", Monaco,  Helvetica, sans-serif;
  font-style: normal;

}

.article_photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

figcaption {
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.cover_text {
  position: absolute;
  display: block;
  width: 80%;
  margin-top: -14%;
  max-width: 90%;
  font-size: 3vw;
  font-family: Times, Rockwell, Serif;
  font-weight: bold;
  color: #FFF;
  padding: .6em 1em .6em 1.7em;
}

.cover_text2 {
  position: absolute;
  display: block;
  width: 80%;
  margin-top: -7%;
  max-width: 610px;
  font-size: 2vw;
  font-family: Times, Rockwell, Serif;
  font-weight: bold;
  color: #FFF;
  padding: .6em 1em .6em 2.6em;
}

.article_cover{
  /* margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw; */
  width:100%;
  height: 55vh;
  object-fit: cover;
  /* overflow: scroll; */
}

.article_text2 {

  display: block;
  margin-top: -13%;
  font-size: 2vw;
  font-family: Times, Rockwell, Serif;
  font-weight: bold;
  color: #FFF;
  padding: .6em .5em .6em 2.6em;
  float: left;
  flex: 30%;
  z-index: 1;
}

.article_text3 {
  display: block;
  margin-top: -13%;
  font-size: 2vw;
  font-family: Times, Rockwell, Serif;
  font-weight: bold;
  color: #FFF;
  padding: .6em .6em 0em 0em;
  float: left;
  flex: 10%;
  z-index: 1;
}

.article_author_photo{
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  flex: 40%;
}

.article_author_name{
  flex: 40%;
  margin-left: 2vw;
  margin-top: 2vw;
}
