.share-btn {
  display: inline-block;
  color: black;
  border: none;
  padding: 0.1em 0.6em;
  outline: none;
  text-align: center;
  font-size: 0.9em;
  margin: 0 0.2em;
  text-decoration: none;
}

.content_wrap {
  padding-top: 5vh;
  padding-bottom: 10vh;
}

p {
  font-family: "Spectral";
}

figcaption {
  font-family: "Spectral";
  font-size: .9em;
}

.related_articles_and_author {
  font-family: 'Spectral';
}

.facebook_share {
  margin-right: 2%;
}

.twitter_share {
  margin-right: 2%;
}

.linkedin_share {
  margin-right: 2%;
}

.social-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* width: 60%; */
}

.social-container>div {
  width: 30%;
  height: 6vh;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(5, 41, 14);
}

.social-container>div:hover {
  color: green;
  border: 1px solid green;
}

#last_div {
  margin-right: 0px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(5, 41, 14);
  margin: 1em 0;
  padding: 0;
}

.main_article_content {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 2vh;
  font-size: 1em;
  font-style: normal;
  text-align: justify;
  text-justify: inter-word;
}

.article_photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.highlighted_info_right {
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
  font-family: "Spectral";
}

figcaption {
  color: grey;
  padding: 2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.feature_image_text {
  color: grey;
  font-size: .9em;
  padding-bottom: 10px;
}

.cover_text {
  position: absolute;
  display: block;
  width: 80%;
  margin-top: -14%;
  max-width: 90%;
  font-size: 3vw;
  font-family: "Glacial Indifference";
  color: #FFF;
  padding: .6em 1em .6em 1.7em;
}

.parallax {
  min-height: 55vh;
  object-fit: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article_text2 {
  display: block;
  margin-top: -9%;
  font-size: 2vw;
  font-family: "Glacial Indifference";
  color: #FFF;
  padding: .6em .5em .6em 2.6em;
  float: left;
  flex: 30%;
  z-index: 1;
}

.article_author_photo {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  flex: 40%;
}

.article_author_name {
  flex: 40%;
  margin-left: 2vw;
  margin-top: 2vw;
  font-family: "Spectral";
}

.related_article_flex_container {
  display: flex;
  width: 80%;
}

.related_article_flex_container>div {
  padding: 1vw;
  font-size: 30px;
  width: 100%;
  height: 100%;
}

.sub_article_text {
  font-size: 1.8vw;
  font-family: "Glacial Indifference";
}

.sub_article_text2 {
  font-size: 1.3vw;
  font-family: "Glacial Indifference";
}

.author_name {
  color: grey;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  font-family: "Spectral";
}

.date {
  color: grey;
  padding-top: 10px;
  font-family: "Spectral";
}

.image_group:hover .article_author_photo {
  opacity: 0.7;
}

.collapsible {
  margin-top: 10px;
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "sans-serif"
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.reference_item {
  margin-top: 8px;
  margin-bottom: 8px;
  /* margin-left: 15px; */
  color: grey;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media (max-width: 600px) {
  .parallax {
    background-attachment: scroll;
  }

  .social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .social-container>div {
    width: 48%;
    height: 6vh;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(5, 41, 14);
    margin-bottom: 4%;
  }

  .facebook_share {
    margin-right: 0%;
  }

  .twitter_share {
    margin-right: 4%;
  }

  .linkedin_share {
    margin-right: 4%;
  }

  .social_line {
    margin-top: .3em
  }

  .main_article_content {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2vh;
    font-size: .9em;
    font-style: normal;
    text-align: justify;
    text-justify: inter-word;
  }

  .cover_text {
    position: absolute;
    display: block;
    width: 90%;
    margin-top: -30%;
    max-width: 90%;
    font-size: 5vw;
    font-family: "Glacial Indifference";
    color: #FFF;
    padding: .6em 1em .6em 1.7em;
  }

  .article_text2 {
    display: block;
    margin-top: -16%;
    font-size: 3.5vw;
    font-family: "Glacial Indifference";
    color: #FFF;
    padding: .6em .5em .6em 2.4em;
    float: left;
    /* flex: 50%; */
    z-index: 1;
  }

  .article_photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  figcaption {
    color: grey;
    padding: 2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .article_author_photo {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    flex: 40%;
  }

  #maui_title_special {
    margin-top: -25%;
  }
}