.highlighted_info {
  font-weight: bold;
  color: rgb(56, 86, 35);
  font-size: 1.2em;
  font-family: 'Spectral';
}

.write_for_us_text {
  padding-left: 1vw;
  padding-right: 1vw;
  color: rgb(56, 86, 35);
  font-family: 'Glacial Indifference';
}

.highlighted_info_end {
  font-weight: bold;
  color: rgb(56, 86, 35);
  font-size: 1.2em;
  text-align: right;
  font-family: "Spectral";
}

.contact_button {
  font-size: 1.2em;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(5, 41, 14);
}

#font {
  font-family: "Spectral", "sans-serif";
}