.highlighted_info {
  font-weight: bold;
  color: rgb(56, 86, 35);
  font-size: 1.2em;
  font-family: 'Spectral';
}

p {
  font-family: 'Spectral';
  /* font-size: 1.3vw; */
}

.horizontal_line {
  font-size: 4vw;
  width: 98%;
  text-align: center;
  border-bottom: 2px solid rgb(56, 86, 35);
  line-height: 0.1em;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
}

.line_text {
  background: #fff;
  padding: 0 10px;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 40px;
  color: rgb(56, 86, 35);
  font-family: 'Spectral';
  text-align: center;
}

.content_wrap {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1vh;
}

.main_article_content {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2vh;
  font-size: 1em;
  font-style: normal;
  text-align: justify;
  font-family: 'Spectral';
}

.highlighted_info_end {
  font-weight: bold;
  color: rgb(56, 86, 35);
  font-size: 1.2em;
  text-align: right;
  font-family: "Spectral";
}

.contact_button {
  font-size: 1.2em;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(5, 41, 14);
  font-style: normal;
}

#font {
  font-family: "Spectral", "sans-serif";
}

.parallax {
  min-height: 60vh;
  margin-top: 20px;
  object-fit: cover;
  margin-left: 1%;
  margin-right: 1%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.indented {
  margin-left: 50px;
}

.indented_list {
  margin-left: 80px;
}

.quote {
  font-weight: bold;
  color: rgb(56, 86, 35);
  font-size: 1.2em;
  font-family: 'Spectral';
  margin-top: 5%;
  text-align: center;
}

@media (max-width: 750px) {
  .horizontal_line {
    margin-top: 8%;
  }

  .line_text {
    font-size: 35px;
  }

  .quote {
    margin-top: 8%;
  }
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media (max-width: 600px) {
  .parallax {
    background-attachment: scroll;
    min-height: 40vh;
  }

  .line_text {
    font-size: 30px;
  }

  .horizontal_line {
    margin-top: 10%;
  }

  .desc {
    font-size: 1.7vw;
  }

  .highlighted_info {
    padding-top: 10px;
  }

  .indented {
    margin-left: 0px;
  }

  .indented_list {
    margin-left: 20px;
  }

  .main_article_content {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 500px) {
  .parallax {
    background-attachment: scroll;
    min-height: 40vh;
  }

  .line_text {
    font-size: 25px;
  }

  .quote {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  #guide {
    font-size: 4vw;
  }

  #no_phone {
    display: none;
  }
}

@media (max-width: 350px) {
  .line_text {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }
}