.highlighted_info {
  font-weight: bold;
  color: rgb(56, 86, 35);
  font-size: 1.2em;
}

.contact_button {
    font-size: 1.2em;
    width: 240px;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(5, 41, 14);
}
